[submodule "libs/AndroidLogcatStdouts"]
	path = libs/AndroidLogcatStdouts
	url = git@bitbucket.org:nfeotools/androidlogcatstdouts.git
[submodule "libs/HtmlGrapheas"]
	path = libs/HtmlGrapheas
	url = git@bitbucket.org:htmlgrapheas/htmlgrapheas.git
[submodule "libs/HtmlGrapheasKamva"]
	path = libs/HtmlGrapheasKamva
	url = git@bitbucket.org:htmlgrapheas/htmlgrapheaskamva.git
[submodule "libs/LibCMaker"]
	path = libs/LibCMaker
	url = git@bitbucket.org:libcmaker/libcmaker.git
[submodule "libs/litehtml"]
	path = libs/litehtml
	url = git@bitbucket.org:htmlgrapheas/litehtml.git
